
body {
   margin: 0;
   
   
    }
h1 {
    font-size: 400%;
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: "Oswald" sans-serif;
    font-weight: 200;  
    text-transform: capitalize;
    letter-spacing: 2px;
    color: black;
}

h2 {
    font-size: 250%;
    text-decoration: none;
    margin-top: 0;
    font-family: "Oswald" sans-serif;
    font-weight: 200;  
    letter-spacing: 1px;
    margin-bottom: 0;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}
.headerbar {
    height: 150px;
    background-color: aqua;
    margin-top: -16px;
    padding: 0;
    padding-bottom: 0;
    
 
        
}

.logo {
    display: inline-block;
    float: left;
    
}



.bodyimage {
    height: 700px;
    background-color: black;
    text-align: center;
    display: block;
    margin: auto;
}

.footerbreak {
    height: 160px;
    background-color: blue;
    margin-bottom: 0;
    text-align: right;
    
}

.githublogo {
    height: 145px;
    float:left;
}

.linkedinimage {
    height: 145px;
    float:right;
    
}


#navmenu li {
    float: right;
    list-style-type: none;
    letter-spacing: 2px;
    margin-right: 30px;
    font-size: 150%;
    float: right;
    line-height: 50px;
}


.bodyimage img {
    width: 30%;
    height: 50%;
    margin-top: 170px;
}


.formelement {
    line-height: 35px;
    width:50%;
    float: left;
    

}

















