/*Header div*/
.headerbar {
    height: 150px;
    background-color: #D4D6B9;
    padding: 0;
    padding-bottom: 0;
    }
/*Top logo text in header*/
h1 {
    font-size: 300%;
    text-decoration: none;
    margin: 0;
    font-family: "Oswald" sans-serif;
    font-weight: 200;  
    text-transform: capitalize;
    letter-spacing: 2px;
    color: black;
}

h2 {
    font-size: 250%;
    text-decoration: none;
    margin-top: -10px;
    font-family: "Oswald" sans-serif;
    font-weight: 200;  
    letter-spacing: 1px;
    margin-bottom: 0;
    color: black;
}

.logo {
     float: left;
     margin-top:16px;
     border-style: solid;
     height: 100px;
     background-color: #48BEFF;
     text-align: left;
     margin-left: 20px;
     margin-right: 10px;
    
    }

    .navdiv {
        margin-top: 30px;
        width: 40%;
        float: right;
        margin-right: -10px;
        height: 100px;
        margin-top: 1px;
        
        

    }
    
    #navmenu li {
        float: right;
        list-style-type: none;
        letter-spacing: 2px;
        margin-right: 30px;
        font-size: 170%;
        border: solid;
        line-height: 40px;
        background-color: #48BEFF
        }


a {
    text-decoration: none;
    color: black;
}
/*body div container*/
.bodyimage {
    height: 700px;
    background-color:#384E77;
    text-align: center;
    display: block;
    margin: auto;
}

.footerbreak {
    height: 100px;
    background-color: #D1CAA1;
    margin-bottom: 0;
    
    
}

.githublogo {
    height: 100px;
    float:left;
}

.linkedinimage {
    height: 100px;
    float:right;
    
}





.bodyimage img {
    width: 30%;
    height: 50%;
    margin-top: 170px;
}



.form {
    background-color:#48BEFF;
    width: 15%;
    height: 80px;
    text-align: left;
    float: left;
    margin-top: 10px;
    margin-left: 15px;
}

.inputfield {
    float: right;
    
}


.githublogospan {
    float:right;
    width: 8%;
    height: 100px;
    margin-right: -15px;

}

.linkedinimagespan {
    float:right;
    width: 10%;
    height: 100px;

}

















