

h1 {
    font-size: 80px;
    
}

h2 {
    font-size: 50px;
    
}

.headerbar {
    height: 200px;
    background-color: aqua;
}

.headings {
    width:50% ;
    float: left;
    text-align: center;
    
    
}

.navbuttons {
    width:50%;
    float: left;
    font-size: 30px;
    
}

.bodyimage {
    height: 700px;
    background-color: black;
    
}

.footerbreak {
    height: 100px;
    background-color: blue;
}









